.root {
  background-color: rgb(199, 199, 199);
  height: 100vh;
  text-align: center;
  font-size: 7em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  &__header {
    padding-top: 28px;
  }

  &__img {
    img {
      width: 128px;
    }
  }
}